/*
	Author: Raylin Aquino <raylinaquino@gmail.com>;
*/
.t5-dashboard{
	position: relative;
}
.t5-dashboard #t5-table-plugins-log .t5-user ul{
	display: inline-block;
	vertical-align: middle;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	margin: 0;
	padding: 0;
	list-style: none;
	background: #FFF;
}
.t5-dashboard #t5-table-plugins-log .t5-user li{
	display: inline-block;
	vertical-align: middle;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	margin: 0;
	margin-right: 5px;
}
.t5-dashboard #t5-table-plugins-log .t5-user li img{ 
	border:1px solid rgb(64, 169, 219);
}
.t5-dashboard #t5-table-plugins-log td.action{
	color:red;
}
.t5-dashboard #t5-table-plugins-log td.action.active{
	color:green;
}
.t5-dashboard #t5-table-plugins-log h3{
	margin: 0;
}